{% extends "SumoCodersFrameworkMultiUserBundle::empty_layout.html.twig" %}

{% block header_title %}
  <h2>
    {{ app.request.get('_route')|trans|capitalize }}
  </h2>
{% endblock %}

{% block sumocoders_multi_user_content %}

  {{ form_start(form) }}
  {{ form_errors(form) }}
  <div class="form-group">
    <label class="control-label" for="change_password_newPassword_first">
      {{ form_label(form.newPassword.first) }}
    </label>

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fas fa-lock fa-lg"></i>
        </span>
      </div>
      {{ form_widget(form.newPassword.first, {attr: {class: 'form-control-lg'}}) }}
    </div>

    <label class="control-label" for="change_password_newPassword_second">
      {{ form_label(form.newPassword.second) }}
    </label>

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fas fa-lock fa-lg"></i>
        </span>
      </div>
      {{ form_widget(form.newPassword.second, {attr: {class: 'form-control-lg'}}) }}
    </div>
  </div>
  {{ form_widget(form.submit, {attr: {class: 'btn-success btn-block'}}) }}
  {{ form_rest(form) }}
  {{ form_end(form) }}

{% endblock %}
