{% extends "SumoCodersFrameworkMultiUserBundle::empty_layout.html.twig" %}

{% block sumocoders_multi_user_content %}
  <form action="{{ path("multi_user_login") }}" method="post">
    {% if error %}
      <div class="alert alert-danger">
        {{ error }}
      </div>
    {% endif %}

    <fieldset class="mb-5">
      <div class="form-group">
        <label class="control-label" for="username">
          {{ 'sumocoders.multiuserbundle.form.user'|trans|capitalize }}<abbr title="{{ 'forms.labels.required'|trans|capitalize }}">*</abbr>
        </label>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-user fa-lg"></i>
            </span>
          </div>
          <input id="username" name="_username" type="text" class="form-control form-control-lg" required />
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" for="password">
          {{ 'sumocoders.multiuserbundle.form.password'|trans|capitalize }}<abbr title="{{ 'forms.labels.required'|trans|capitalize }}">*</abbr>
        </label>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-lock fa-lg"></i>
            </span>
          </div>
          <input type="password" value="" id="password" name="_password" class="form-control form-control-lg" required />
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="forgotPassword">
            <small>
              <a href="{{ path('multi_user_request_password') }}">{{ 'sumocoders.multiuserbundle.form.forgot_password'|trans|capitalize }}</a>
            </small>
          </div>
        </div>
        <div class="col-md-6">
          <button class="btn btn-success float-right" type="submit" id="submit" name="_submit">
            {{ 'sumocoders.multiuserbundle.form.login'|trans|capitalize }} <i class="far fa-arrow-alt-circle-right"></i>
          </button>
        </div>
      </div>
    </fieldset>
  </form>
{% endblock sumocoders_multi_user_content %}
